<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <!-- <p class="text-center"> -->
          <b>KINGCA week 2021 Secretariat</b><br>
          The Korean Gastric Cancer Association<br>
          #1616, Gwanghwamun Officia, 92 Saemunan-ro, Jongno-gu, Seoul 03186, Korea<br>
          E-mail : kingca@kgca-i.or.kr
        <!-- </p> -->
      </div>
    </div>
  </div>
</footer>
