footer {
  width: 100%;

  .footer-header {
    border-top: 1px solid var(--gray6);
    border-bottom: 1px solid var(--gray6);

    .footer-header-content {
      margin: 0 auto;
      text-align: center;
      font-size: 1.1rem;

      .board-link {
        padding: 8px 24px;
        display: inline-block;

        a {
          color: var(--gray13);
        }
      }
    }
  }

  .footer-body {
    padding: 24px 0;

    .row {
      margin: 0 auto;
      // max-width: 780px;
      max-width: 1000px;
      min-height: 60px;
      max-height: 120px;

      .footer-logo {
        background: url('/assets/img/footer-logo.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center right;
      }

      .footer-description {
        color: var(--gray13);
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}

@media (max-width : 767px) {
  footer {
    .footer-header {
      .footer-header-content {

        // font-size: 1rem;
        .board-link {
          padding: 8px 16px;
        }
      }
    }

    .footer-body {
      .row {
        .footer-logo {
          height: 70px;
          background-size: contain;
          background-position: center;
        }

        .footer-description {
          max-width: 450px;
          margin: 0 auto;
          padding-top: 24px;
          // font-size: 0.95rem;
        }
      }
    }
  }
}

@media (max-width : 595px) {
  footer {
    .footer-header {
      .footer-header-content {
        .board-link {
          padding: 6px 12px;
        }
      }
    }

    .footer-body {
      .row {
        .footer-logo {
          height: 56px;
        }
      }
    }
  }
}
