<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.10.01 (Fri)</a></div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021.10.02 (Sat)</a></div>
      </div>
    </div>
  </div>
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime }}
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:20%">
        <col style="width:40%">
        <col style="width:40%">
      </colgroup>
      <thead>
        <th>Time</th>
        <th>Dream Room</th>
        <th>Trust Room</th>
      </thead>
      <tbody>
        <tr>
          <td>08:00-08:10</td>
          <td colspan="2" class="bg_yellow">Opening Ceremony</td>
        </tr>
        <tr>
          <td>08:10-08:25</td>
          <td colspan="2" (click)="getSessionDetail('614d0b39125e990012d56ce7')"> Special Session 1.
            The Quarter-Century
            History of KGCA by White Book</td>
        </tr>
        <tr>
          <td>08:30-10:00</td>
          <td (click)="getSessionDetail('614d22a5125e990012d56d51')" class="text_red">
            Symposium 1<br>
            (Recent Update of Chemotherapy)
          </td>
          <td (click)="getSessionDetail('61516b6b74750a001248306b')">Oral Presentation 1</td>
        </tr>
        <tr>
          <td>10:00-10:10</td>
          <td colspan="2" class="bg_green">Break</td>
        </tr>
        <tr>
          <td>10:10-11:35</td>
          <td class="text_blue" (click)="getSessionDetail('614d3027125e990012d56da5')">
            Multidisciplinary Team 1<br>
            (Treatment of high risk EGC patients;<br>ESD vs. Surgery)
          </td>
          <td class="text_green" (click)="getSessionDetail('6151716974750a0012483084')">Education Session 1<br>
            (Management of Complication after Gastrectomy)</td>
        </tr>
        <tr>
          <td>11:40-12:10</td>
          <td colspan="2" class="2" class="bg_blue" (click)="getSessionDetail('614d341974750a001248273f')">JS Min
            Memorial Lecture</td>
        </tr>
        <tr>
          <td>12:10-13:00</td>
          <td (click)="getSessionDetail('614d34c074750a0012482744')">Medtronic Symposium</td>
          <td (click)="getSessionDetail('615172d474750a0012483093')">ETHICON ECHELON PLUS Symposium</td>
        </tr>
        <tr>
          <td>13:00-14:25</td>
          <td class="text_red" (click)="getSessionDetail('614d354874750a0012482748')">Symposium 2<br>(Resection Margins
            for Treatment of Gastric Cancer)</td>
          <td (click)="getSessionDetail('6151761c74750a00124830a4')">Oral Presentation 2</td>
        </tr>
        <tr>
          <td>14:30-16:00</td>
          <td class="text_red" (click)="getSessionDetail('614d3b7874750a0012482784')">Symposium 3<br>(Peritoneal
            Metastasis)</td>
          <td (click)="getSessionDetail('6151788874750a00124830b6')" class="text_red">KLASS Symposium</td>
        </tr>
        <tr>
          <td>16:00-16:10</td>
          <td colspan="2" class="bg_green">Break</td>
        </tr>
        <tr>
          <td>16:10-17:40</td>
          <td class="text_red" (click)="getSessionDetail('614d3cce74750a0012482790')">The 1st KGCA-JGCA Joint session
          </td>
          <td (click)="getSessionDetail('6151796874750a00124830bf')">Oral Presentation 3</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day 2------------------------- -->
    <table class="program" #table1 *ngIf="date === 2">
      <colgroup>
        <col style="width:20%">
        <col style="width:40%">
        <col style="width:40%">
      </colgroup>
      <thead>
        <th>Time</th>
        <th>Dream Room</th>
        <th>Trust Room</th>
      </thead>
      <tbody>
        <tr>
          <td>08:10-08:25</td>
          <td (click)="getSessionDetail('614d423a74750a00124827b4')" colspan="2">Special Session 2. Nationwide Survey of
            Gastric Cancer in 2019</td>
        </tr>
        <tr>
          <td>08:30-10:00</td>
          <td class="text_red" (click)="getSessionDetail('614d42b774750a00124827b6')">Symposium 4<br>(Knack and Pitfalls
            in Surgical Oncology Trials)</td>
          <td (click)="getSessionDetail('61516d4974750a001248306e')">Video Symposium<br>(Splenic Hilar and Lower
            Mediastinal Lymph Node Dissection In Minimal Invasive Surgery)
          </td>
        </tr>
        <tr>
          <td>10:00-10:10</td>
          <td colspan="2" class="bg_green">Break</td>
        </tr>
        <tr>
          <td>10:10-10:35</td>
          <td colspan="2" class="bg_blue" (click)="getSessionDetail('614d6c8274750a0012482879')">Plenary Lecture</td>
        </tr>
        <tr>
          <td>10:40-11:10</td>
          <td colspan="2" class="bg_blue" (click)="getSessionDetail('614d6d6274750a001248287f')">JP KIM Memorial Lecture
          </td>
        </tr>
        <tr>
          <td>11:10-11:40</td>
          <td colspan="2" class="bg_yellow" (click)="getSessionDetail('614d6e1c74750a0012482881')">General Assembly (for
            KGCA member,총회)</td>
        </tr>
        <tr>
          <td>11:40-12:30</td>
          <td (click)="getSessionDetail('614d6e4c74750a0012482882')">ONO/BMS "OPDIVO WE SYMPOSIUM"</td>
          <td></td>
        </tr>
        <tr>
          <td>12:30-13:55</td>
          <td class="text_blue" (click)="getSessionDetail('614d6ebd74750a0012482884')">Multidisciplinary Team 2<br>
            (Treatment of Obstructive Gastric Cancer with distant metastasis; Surgery vs. Chemotherapy)</td>
          <td class="text_green" (click)="getSessionDetail('6151721c74750a0012483089')">Education Session 2<br>(Endoscopic
            Treatment in Specific Situations)</td>
        </tr>
        <tr>
          <td>14:00-15:30</td>
          <td class="text_red" (click)="getSessionDetail('614d75b674750a00124828b2')">Symposium 5<br>(Treatment of
            Gastric Subepithelial Tumor)</td>
          <td class="text_purple" (click)="getSessionDetail('6151730e74750a0012483095')">Nurse Symposium<br>(위암 전문 간호사를
            위한 세션, 한국어)</td>
        </tr>
        <tr>
          <td>15:30-15:40</td>
          <td colspan="2" class="bg_green">Break</td>
        </tr>
        <tr>
          <td>15:40-16:10</td>
          <td colspan="2" class="bg_blue" (click)="getSessionDetail('614d770174750a00124828b9')">Presidential Lecture
          </td>
        </tr>
        <tr>
          <td>16:10-16:40</td>
          <td colspan="2" class="bg_yellow">Closing Ceremony</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<button #sessionDetailBtn class="session-detail-btn" data-toggle="modal" data-target="#sessionDetailModal">
  session detail modal open
</button>

<!-- ! 세션 상세 모달 -->
<div class="modal session-detail fade" id="sessionDetailModal" data-backdrop="static" role="dialog"
  aria-labelledby="sessionDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description" *ngIf="selectedAgenda">
          <div class="modal-description-header">
            Session Detail
            <button type="button" class="ml-2 mb-1 close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-description-body" (click)="goLiveV2(selectedAgenda.dateId,selectedAgenda.roomId)">
            <div class="session-info">
              <div class="lt">
                <div class="session-title">
                  {{selectedAgenda.subTitle}}
                </div>
              </div>
              <div class="rt">
                <div class="session-speaker-list">
                  Chairperson:
                  <div class="session-speaker" *ngFor="let speaker of selectedAgenda.speakers">
                    <div class="speaker-name">{{speaker.fullName}}</div>
                    <div class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-list" *ngIf="selectedSubList">
              <div *ngFor="let agenda of selectedSubList" class="sub-list-item">
                <div class="sub-agenda-time-wrapper">
                  <div class="sub-agenda-time">{{agenda.startTime}}-{{agenda.endTime}}</div>
                </div>
                <div class="sub-agenda-title-wrapper">
                  <div class="sub-agenda-title">{{agenda.title}}</div>
                </div>
                <div class="sub-agenda-speakers-wrapper">
                  <div class="sub-agenda-speakers-container">
                    <div class="sub-agenda-speakers" *ngFor="let speaker of agenda.speakers">
                      <div class="sub-agenda-speaker-name">{{speaker.fullName}}</div>
                      <div class="sub-agenda-speaker-company">{{speaker.company}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
