.content-body {
  padding-bottom: 24px;

  // &.patten-true {
  //   background: url('/assets/img/patten.png') 50% 50%;
  // }

  article {
    width: 100%;
    padding: 24px 0;

    &.background-true {
      // background: var(--gray22);
    }
  }
}

// ! KINGCA2021
.comp-about {
  td {
    border-right: 20px solid white;
  }
}

body table {
  line-height: 1.0;
}

.content-inner {
  p {
    word-break: break-word !important;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;

    img {
      margin-bottom: 16px;
    }
  }
}

/* 더보기 버튼 */

.view-more {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 167px;
  height: 38px;
  padding: 9px 16px;
  font-size: 1.16rem;
  color: var(--gray12);
  background: var(--gray2);
  border: none;

  .icon-more {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 0.83rem;
  }
}

.title-wrapper {

  .welcome-title-image {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
    background-image: url('/assets/img/welcome-title.png');
    background-size: contain;
    vertical-align: middle;
  }
}
