<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/banner-login.png)'"></div>
    <img [src]="'assets/img/banner-login.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Get access to KINGCA week 2021<br>
          Login Now.
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
        <div class="login-bottom">
          <div class="password-error">
            {{passwordError?passwordError:''}}
          </div>
          <!-- <div class="regist-button">
            <button data-toggle="modal" data-target="#findPassword">비밀번호 찾기</button>
          </div> -->
        </div>
        <div class="submit-button">
          <button (click)="login()">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>
