<div class="content-body">
  <div class="content-wrapper board-list-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>NOTICE {{myPostingsState?'> My Postings':''}}</h2>
      </div>

      <form class="search-wrapper" [formGroup]="search" (submit)="submit()">
        <select class="form-control form-control-lg select-box ellipsis not-drag" formControlName="keywordSelect">
          <option value="title">제목</option>
          <option value="content">내용</option>
          <option value="writer">작성자</option>
          <option value="email">이메일</option>
        </select>
        <input type="text" class="form-control search-input" placeholder="Search your question on Help Desk"
          formControlName="keyword">
        <button class="btn search-btn" type="submit">Search</button>
      </form>

      <div class="board-list not-drag">

        <div class="board-header">
          <div class="row">
            <div class="col col-lg-2 col-3 text-center">Index</div>
            <div class="col col-lg-7">Title</div>
            <div class="col col-lg-1 col-2 text-center">Writer</div>
            <div class="col col-lg-2 col-3 text-center">Date</div>
          </div>
        </div>

        <div class="board-item">
          <div class="row"
            *ngFor="let board of boards | paginate: {totalItems: 20*totalPagesCount ,itemsPerPage: 20, currentPage: curPage}; let i = index"
            (click)="goDetail(board)" [ngClass]="{'fix': board.isFixed}">
            <div class="col col-lg-2 col-3 text-center" [ngSwitch]="board.type">
              <span *ngSwitchCase="'post'">{{ board.index }}</span>
              <span *ngSwitchCase="'notice'">Notice</span>
              <span *ngSwitchCase="'faq'">FAQ</span>
            </div>
            <div class="col col-lg-7 ellipsis">{{board.title}}</div>
            <div class="col col-lg-1 col-2 text-center writer">{{board.writer}}</div>
            <div class="col col-lg-2 col-3 text-center">{{board.updatedAt | date: 'yyyy-MM-dd'}}</div>
          </div>
        </div>

        <div class="board-footer">
          <div class="container d-flex flex-wrap justify-content-center">
            <pagination-controls [directionLinks]="true" [responsive]="true" [previousLabel]="'Prev'"
              [nextLabel]="'Next'" [maxSize]="5" (pageChange)="changePage($event)">
            </pagination-controls>
          </div>
          
          <div class="board-btn-wrapper">
            <div *ngIf="user && !myPostingsState" class="board-btn" (click)="getMyPostings()">My Postings</div>
            <div *ngIf="myPostingsState" class="board-btn" (click)="getAllBoards()">All Postings</div>
            <div class="board-btn" [routerLink]="'/board-regist'">Write</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
