<div class="content-body">
  <app-banner></app-banner>
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <app-time-table></app-time-table>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="e-booth">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0" *ngIf="boothCategories">
            <div class="booth-list" *ngFor="let category of boothCategories; let i = index">
              <div class="list-item" *ngFor="let booth of category.booths">
                <div class="e-booth-btn" role="button" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
                  <figure>
                    <img [src]="booth.photoUrl" alt="{{booth.name}}">
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <a class="content-link view-more" [routerLink]="'/e-booth'">
              <span>더보기</span>
              <i class="icon-more" aria-hidden="true"></i>
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="mb-2">
            &#60;KINGCA week Menu Shortcuts&#62;
            <br>Please, Click the Menu<br><br>
            <span><a style="line-height: 30px;" [routerLink]="'/live'">* LIVE *</a><br></span>
            <span><a [routerLink]="'/posters'">* POSTERS *</a></span><br>
            <span><a [routerLink]="'/e-booth'">* SPONSORS *</a></span><br>
            <span>
              <a target="_blank"
                href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/6136b709fa3182001279e169/contents/6153a695fab1b20013a31607.pdf">
                * ABSTRACT *</a>
            </span><br>
            <span><a target="_blank" href="https://forms.gle/gMxC8NYi9sTppRoV7">* SURVEY *</a></span>
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
