<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section1">
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/platinum_banner.png" alt="">
    </div>
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/platinum_booth1.png" (click)="getDetailV2('613e9c76fa3182001279e2d6')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/platinum_booth2.png" (click)="getDetailV2('613e9c88fa3182001279e2d7')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/platinum_booth3.png" (click)="getDetailV2('613e9c95fa3182001279e2d8')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line1 justy_center">
      <img src="../../../assets/img/e-booth/platinum_booth4.png" (click)="getDetailV2('613e9ca1fa3182001279e2d9')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section2">
    <div class="banner_line2 justy_center">
      <img src="../../../assets/img/e-booth/gold_banner.png" alt="">
    </div>
    <div class="line2 justy_center">
      <img src="../../../assets/img/e-booth/gold_booth1.webp" alt="" (click)="getDetailV2('61514ff374750a001248302b')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section3">
    <div class="banner_line2 justy_center">
      <img src="../../../assets/img/e-booth/silver_banner.png" alt="">
    </div>
    <div class="line3 justy_center">
      <img src="../../../assets/img/e-booth/silver_booth1.png" alt="" (click)="getDetailV2('613e9cb5fa3182001279e2db')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth2.png" alt="" (click)="getDetailV2('613e9cc0fa3182001279e2dc')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line3 justy_center">
      <img src="../../../assets/img/e-booth/silver_booth3.png" alt="" (click)="getDetailV2('613e9ccbfa3182001279e2dd')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/silver_booth4.png" alt="" (click)="getDetailV2('613e9cd5fa3182001279e2de')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section4">
    <div class="banner_line2 justy_center">
      <img src="../../../assets/img/e-booth/bronze_banner.png" alt="">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/bronze_booth1.png" alt="" (click)="getDetailV2('613ea08cfa3182001279e2e0')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth2.png" alt="" (click)="getDetailV2('613ea111fa3182001279e2e3')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth3.png" alt="" (click)="getDetailV2('613ea102fa3182001279e2e2')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4">
      <img src="../../../assets/img/e-booth/bronze_booth4.png" alt="" (click)="getDetailV2('613e9d05fa3182001279e2df')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth5.png" alt="" (click)="getDetailV2('613ea0f4fa3182001279e2e1')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth6.png" alt="" (click)="getDetailV2('613ea129fa3182001279e2e5')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line4 ">
      <img src="../../../assets/img/e-booth/bronze_booth7.png" alt="" (click)="getDetailV2('613ea136fa3182001279e2e6')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth8.png" alt="" (click)="getDetailV2('613ea11cfa3182001279e2e4')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/bronze_booth9.png" alt="" (click)="getDetailV2('6151186f74750a0012482f6b')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section5">
    <div class="banner_line2 justy_center">
      <img src="../../../assets/img/e-booth/angel_banner.png" alt="">
    </div>
    <div class="line5">
      <img src="../../../assets/img/e-booth/angel_booth1.png" alt="" (click)="getDetailV2('615118dd74750a0012482f6f')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
    <div class="line5 img_margin">
      <img src="../../../assets/img/e-booth/angel_booth2.png" alt="" (click)="getDetailV2('615118b874750a0012482f6c')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
      <img src="../../../assets/img/e-booth/angel_booth3.png" alt="" (click)="getDetailV2('615118c774750a0012482f6d')"
        [attr.data-target]="'#e-boothModal'" data-toggle="modal">
    </div>
  </div>
  <div class="section6" *ngIf="boothsOfStamp">
    <div class="flower1"></div>
    <div class="flower2"></div>
    <div class="note">
      <img class="stamp_bg" src="../../../assets/img/e-booth/stamps/stamp_bg.png">
      <img class="stamp_title" src="../../../assets/img/e-booth/stamps/stamp_title.png">
      <div class="note_circle"></div>
      <div class="inner">
        <ng-container *ngFor="let booths of boothsOfStamp; let i=index">
          <div class="stamp_line">
            <ng-container *ngFor="let booth of booths; let j=index">
              <img [src]="
              '../../../assets/img/e-booth/stamps/stamp_'
              + (booth.visit?'on':'off')
              + ((i*5) + (j+1))
              + '.png'
              ">
            </ng-container>
          </div>
        </ng-container>
        <!-- <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off1.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off2.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off3.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off4.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off5.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off6.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off7.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off8.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off9.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off10.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off11.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off12.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off13.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off14.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off15.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off16.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off17.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off18.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off19.png" alt="">
          <img src="../../../assets/img/e-booth/stamps/stamp_off20.png" alt="">
        </div>
        <div class="stamp_line">
          <img src="../../../assets/img/e-booth/stamps/stamp_off21.png" alt="">
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- <article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article> -->

<!-- <div class="my-page-inner stamp-tour" *ngIf="user && user.isStamp">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스탬프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div> -->

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_blank" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ! 진입 시 최초 모달 버튼 -->
<button #initAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#initAlert">
  init modal open
</button>

<!-- ! 진입 시 최초 모달 -->
<div class="modal win-alert fade" id="initAlert" data-backdrop="static" role="dialog" aria-labelledby="initAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center init-modal-dialog" role="document">
    <div class="modal-content not-drag init-modal-content">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            <span style="font-size:24px;">E-Booth Tour​</span><br><br>
            Join the tour virtually experiencing exhibitions from leading medical<br>
            and pharmaceutical companies.​<br>
            There will be stamps to collect as you tour the e-booths.<br>
            KINGCA2021 will give out gift cards to participants<br>
            who have collected all the stamps. (Login ONLY!)​<br>
            We look forward to your participation.​
          </p>
          <hr class="init-modal">
          <p class="mb-2 text-center">
            &#42; International participants: Amazon Gift Card &#40;Online&#41; &#40;&#36;10&#41;​<br><br>
            &#42; Korean participants: Starbucks Gift Card &#40;&#8361;10,000&#41;​
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn init-modal-btn" data-toggle="modal"
          data-target="#initAlert" (click)="scrollToBottom()">
          Go to E-booth Tour!
        </button>
        <div class="not-open-today">
          <button (click)="notOpenOneDay()" data-toggle="modal" data-target="#initAlert">
            Do not open for a day
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
