<div class="program-nav-wrapper not-drag">
  <div class="program-nav-list days">
    <div class="content-inner">
      <ng-container *ngFor="let date of dates">
        <div class="program-nav-item" [ngClass]="{'active': selected?.date?.id === date.id}"
          (click)="selected?.date?.id !== date.id ? setDateFn.emit(date) : ''">
          {{date.date}}
        </div>
      </ng-container>

    </div>
  </div>
  <div class="program-nav-list channels">
    <div class="content-inner">
      <ng-container *ngFor="let room of rooms">
        <div class="program-nav-item" [ngClass]="{'active': selected?.room?.id === room.id}"
          (click)="selected?.room?.id !== room.id ? setRoomFn.emit(room) : ''" *ngIf="!(selected?.date.date === '2021-04-24' && (room.roomName === 'Grand Ballroom')) 
          && !(selected?.date.date === '2021-04-25' && (room.roomName === 'Grand Ballroom'))">
          {{room.roomName}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
