<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Posters</h2>
      </div>
      <!-- 검색 -->
      <div class="search-wrapper">
        <select class="form-control form-control-lg select-box ellipsis not-drag" [(ngModel)]="searchType">
          <option value="" selected>All Topics</option>
          <ng-container *ngFor="let category of allCategories">
            <option *ngIf="category.categoryName" (value)="category.categoryName">
              {{category.categoryName}}
            </option>
          </ng-container>
        </select>
        <input type="text" class="form-control search-input" placeholder="Search by Name/ Abstract Title/ Poster NO"
          [(ngModel)]="searchText" (keyup.enter)="search()">
      </div>

      <div class="poster-list-wrapper">
        <div class="poster-list" *ngFor="let category of categories">
          <h3 class="category-title">{{ category?.categoryName }}</h3>
          <div class="row">
            <div class="col-sm-3 poster-item" *ngFor="let posterItem of category.posters">
              <div class="poster-card" (click)="goDetail(posterItem.id)">
                <div class="poster-body">
                  <h4 class="ellipsis line-4">{{ posterItem.title }}</h4>
                  <div class="poster-author-code">
                    <p class="code">{{ posterItem.subTitle? posterItem.subTitle:''}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
