.content-body {
  .content-inner {

    .btn-in-out {
      display: flex;
      justify-content: flex-end;

      margin: 16px 0 16px 0;

      .confirm-btn {
        width: 15%;
        height: 50px;
        color: var(--white);
        font-size: 1.3rem;
        font-weight: 600;
        border-radius: 25px;
        background: var(--blue2);

        &.in {
          background: var(--blue2);
        }

        &.out {
          background: var(--red);
        }
      }
    }
  }
}

.live-player {
  max-width: 1270px;
  margin: 0 auto;
  margin-bottom: 32px;

  .ustream-player-video-chat {
    width: 100%;
    display: flex;
    justify-content: center;

    .player-height {
      width: 97%;
      height: 460px;
    }

    &.row {
      margin: 0 !important;
    }

    app-player-ustream {
      width: 100%;
      height: 100%;
    }

    .ustream-chat {
      width: 100%;
      height: 460px;
      max-height: 460px;
    }
  }
}

.program-agendas {
  margin-top: 60px;
  padding-bottom: 100px;
  border-top: 1px solid var(--gray26);
}

.entry-alert-btn {
  display: none;
}

.entry-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 500px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      padding-bottom: 8px;
      color: var(--white);
      font-size: 2.1rem;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      label {
        font-size: 1.8rem;
        color: var(--yellow2);
      }

      p {
        padding: 8px 0;
        font-size: 20px;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 25px;
      background: rgb(92, 69, 149);

      &.in {
        background: rgb(92, 69, 149);
      }

      &.out {
        background: var(--red);
      }
    }
  }
}


.banners-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  padding: 0 34px;

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80%;
          max-height: 80%;
          border-radius: 0;
          // max-height: 40px ;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .live-player .ustream-player-video-chat .player-height {
    height: auto;

    &.chat-height {
      height: 460px;
    }
  }

  .entry-alert .modal-content .modal-description p {
    font-size: 14px;
  }
}
